---

---

<div class="index">
  <div class="index__photo">
    <%= image_tag "joe.jpg" %>
  </div>
  <h1 class="index__title">
    Joe Dupuis
  </h1>
  <h2 class="index__subtitle">Freelance Dev and Devops</h2>
<ul class="index__nav">
  <li class="index__nav-item"><%= link_to :github, github_url, class: 'index__nav-link index__nav-link--github' %></li>
  <li class="index__nav-item"><%= link_to :gitlab, gitlab_url, class: 'index__nav-link index__nav-link--gitlab' %></li>
  <li class="index__nav-item"><%= link_to :linkedin, linkedin_url, class: 'index__nav-link index__nav-link--linkedin' %></li>
  <li class="index__nav-item"><%= link_to :twitter, twitter_url, class: 'index__nav-link index__nav-link--twitter' %></li>
</ul>
</div>
